h1 {
    text-align: center;
}
#main {
    width: 60vw;
    height: 20vw;
    padding-top: 10vw;
    margin: auto;
    background-color: lightblue;
}

#input {
    text-align: center;
    margin: auto;
}